body {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, black, #280033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, black, #280033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, black, #280033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, black, #280033); /* Standard syntax */
}

.reset-camera-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999px;
}
